.NavbarMainDiv{
    background-color:  white;
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 70%;
    right: 0;
    height: 10vh;
    position: fixed;
    top: 0;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    transition: 0.5s ease;
}
@media screen and (max-width: 1000px) {
    .NavbarMainDiv{
        width: 60%;
    }
}
@media screen and (max-width: 800px) {
    .NavbarMainDiv{
        width: 50%;
    }
}
.NavbarMainDiv2{
    width: 100%;
}
.NavbarRow{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.LogOutBut{
    padding: 12px;
    background-color: #0B666A;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.hideIcon{
    display: none;
}
.showIcon{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.userLogo{
    cursor: pointer;
    background-color: #0B666A;
    color: white;
    font-weight: bold;
    border-radius: 100%;
    width: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.userLogo:hover, .LogOutBut:hover{
    background-color: #374259;
    color: white;
}
@media screen and (max-width: 600px){
    .NavbarMainDiv{
        width: 100%;
    }
    /* .showIcon{
        display: none;
    }
    .hideIcon{
        display: flex;
    } */
    .NavbarRow{
        gap: 10px;
    }
}