.signUpMainDiv{
    width: 100%;
    height: 100vh;
    /* background-color:#6F4E37; */
    background-color: rgb(244, 245, 247);   
    /* background-image: url('https://img.freepik.com/free-vector/student-campus-flat-composition-with-university-building-background-vector-illustration_1284-81556.jpg?w=996&t=st=1695639005~exp=1695639605~hmac=50eadb5e44d0397cb6b26cfedc9488cd444aaaaa3b3d17d7b2941743caf93b8b'); */
    /* background-color: rgba(0, 0, 0, 0.2); */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.signUpDiv{
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: white;
    /* background-color: rgba(160, 255, 160, 0.9); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    padding-bottom: 40px;
    width: 70%;
    max-width: 442px;
    min-width: 280px;
    min-height: 420px;
    gap: 20px;
    /* overflow-y: scroll; */
}
.signUpForm{
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 3px 3px 13px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    max-width: 750px;
    min-width: 280px;
    min-height: 420px;
    overflow-y: hidden;
}
.signUpRowDiv{
    display: flex;
    flex-direction: column;
    color: red;
    width: 100%;
    gap: 13px;
}
.signUpIntroName{
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: rgb(80, 80, 80);
}
.signUpTextInput{
    width: 100%;
    padding: 12px;
    font-size: 16px; 
    border-radius: 20px;
    border: 1px solid black;
    /* appearance: none; */
}
.stReqSelect{
    margin: 15px 0;
    /* padding-right: 30px;  */
    /* padding: 12px 24px; */
}
.signUpOption{
    padding: 100px !important;
    height: 50px;
}
.signUpButton{
    cursor: pointer;
    background-color: rgba(11, 197, 234, 0.8);
    color: white;
    border: none;
    width: 100%;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
    padding: 14px;
}
.signUpButton:hover{
    background-color: rgb(21, 147, 255);
}
.signUpRow2{
    display: flex;
}
.signUpEdu{
    width: 100%;
    padding: 10px;
    margin: 0 10px;
}
@media screen and (max-width: 600px){
    .signUpRowDiv{
        display: flex;
        flex-direction: column;
    }
    .signUpDiv{
        width: 280px;
    }
    input{
        border: 1px solid black;
    }
    .signUpRow2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .signUpEdu{
        margin: 0;
    }
}
    @media screen and (max-width: 800px){
        .signUpForm{
            width: 60%;
            overflow: hidden;
            flex-direction: column;
            background-color: white;
        }   
        .signUpDiv{
            width: 100%;
        }
    }
    @media screen and (max-width: 600px){
        .signUpForm{
            width: 75%;
        }
    }